@import "styles/global";

.Slider {
  background-image: url("./static/images/bg_slider.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.OurTeam {
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
  text-align: center;

  .OurTeam__title {
    font-weight: 500;
    color: $main-color;
    font-size: 2rem;

    @include large {
      font-size: 3.8rem;
    }
  }
}

.OurTeam::after {
  content: "";
  background-image: url("./static/images/bg.png");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
